body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --marx-color: rgb(255, 208, 0);
  --blue-color: rgb(22, 9, 199);
  --clicked-border: 4px solid var(--blue-color);
}

header {
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.item {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.blue {
  background-color: var(--blue-color)
}

.marx {
  background-color: var(--marx-color);
  border: var(--clicked-border)
}

.clickable .item:active {
  background-color: var(--marx-color);
  border: var(--clicked-border)
}

.clickable .item {
  cursor: pointer;
}

#start {
  background-color: var(--blue-color);
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#start:hover {
  background-color: rgb(8, 8, 136);
}